.container{
height: 100vh;
display: flex;
background-image: url("./img/KrZl8X.gif");
background-repeat: no-repeat;
background-size: cover;
align-items: center;
justify-content: center;
text-align: center;
}

#askLabel, p{
  color: whitesmoke;
  font-size: 2rem;
  display: block;
}

#askTextBox{
margin-top: 20px;
height: 35px;
width: 600px;
font-size: large;
background-color: rgb(18, 24, 24);
color: white;
border-radius: 10px;
border-style: none;
outline: none;
display:block
}

#askBtn{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0.25rem 0.5rem;
    border: 3px solid #fefefe;
    border-radius: 7px;
    color: #fefefe;
    background: rgba(0,0,0,0.6);
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;   
}

#askBtn:hover{
  background: azure;
  color: black;
}

#image{
 height:400px;
 animation-name: spin;
 animation-duration: 500ms;
 animation-iteration-count: .00001ms;
 animation-timing-function: linear; 
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}